*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size :24px;
    line-height: 28px;
    color: black;

}

.contianer{
    padding: 10%;
}

a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px; 
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header{
    background-image: url('../css/bg\ \(1\).png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}    

.menu__list{
    display: flex;
    list-style: none;
    
}

.menu_item{
    margin-right: 40px;
}



.menu__item:last-child{
    margin-right: 0;
}


.menu_link{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
}

.header__numbers{
    display: flex;
    flex-direction: column;
}

.header_tel{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.header_tel:last-child{
    margin-bottom: 0;
}
.header_basket{
    background-image: url(../shopping-basket\ 1.svg);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}

.header_hero{
    display: flex;
    justify-content: space-between;
    margin-top: 108px; 
}
.header_hero-block{
    max-width: 338px;
    width: 100%;
}

.header_hero-block_bigwidth{
    min-width: 457px;
}

.tar{
    text-align: right;
    font-size: 44px;
    line-height: 52px; 
   
}

.header_hero-title{
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
    color: #ffffff;
    margin-bottom: 10px;
}



.df{
    margin-left: 152px;
    
}

.header_btn{
    position: absolute;
    max-width: 188px;
    width: 100%;
    padding: 6px 8px;
    background: #2176f6;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    
}

.header_hero-form{
    display: flex;
}
.header_hero-input{
    max-width: 290px;
    width: 100%;
    height: 35px;
    outline: none;
    border: none  ;
    padding: 7px 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

}
.header_hero-btn{
    max-width: 167px;
    width: 100%;
    outline: none;
    border: none;
    background: #2176f0;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    animation: firstAnimation 2s linear infinite;
}
.loupe{
    background-image: url('../css/lupa.png');
    width: 19px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 14px;
}


.block{
    width: 131px;
    height: 22px;
}

.text{
    width: 340px;
    height: 152px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.section{
    display: flex;
    padding: 0 5%;
}
.section__tema{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: black;
    margin-top: 100px;
}
.section__tema > span {
    color: #2F76F0;
}
.section__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 0.5;
    margin-top: 24px;
}
.section__info{
    display: flex;
    margin-left: 111px;
    margin-top: 115px;
}
.section--first{
    margin-left: 70px;
}

.star{
    display: flex;
}
.shape{
    display: flex;
    margin-top: 40px;
}
.section--car{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2F76F0;
    margin-left: 20px;
}
.column{
    display: flex;
    margin: 115px 5%;
    background:  #2F76F0;;
    width: 1160px;
    height: 177px;
}
.column--tema{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 30px 40px;
}
.column--text{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 40px;

}
.column--button{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #2F76F0;
    width: 220px;
    height: 69px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 54px;
    margin-left: 35px;
}
.social__info{
    padding: 0 5%;
}
.social--test{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.social__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #000000;
    margin-right: 70px;

}
.social__test{
    display: flex;
}
.image{
    margin-left: 25px;
}
.tesla{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.price{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    opacity: 0.5;
}
.number{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 22px;
}
.social__class{
    margin-top: 42px;
    margin-left: 25px;
}
.social__img{
    background: #F5F5F5;
    padding: 72px 45px;
    margin-top: 25px;
}
.vector{
    margin-left: 40px;
}
.jb{
    margin-top: 170px;
}
.name__test{
    padding: 0 5%;
}
.name--tema{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-top: 180px;
}
.name--text{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #000000;
    margin-right: 46px;

}
.name--info{
    display: flex;
    margin-top: 45px;
}
.vector{
    margin-left: 25px;
}
.name--car{
    background-image: url('../car__second/car1.png');
    width: 360px;
    height:270px;
    margin-left: 25px;
}
.name--prize{
    background-image: url('../car__second/car__price.svg');
    width: 360px;
    height:270px;
    margin-left: 40px;
}
.name--cards{
    background-image: url('../car__second/car__thord.png');
    width: 360px;
    height:270px;
    margin-left: 40px;
}
.youtube{
    margin-top: 45px;
    margin-left: 30px;
}

.cards{
    transform: translate(145px, 125px);
}
.toyota{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 30px;
    margin-top: 95px;
}
.toyota__model{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 30px;
    margin-top: 138px;
}
.main{
    padding: 0 5%;
}
.main__info{
    background-image: url('../car__third/car1.png');
    width: 1180px;
    height: 330px;
    margin-top: 41px;
}
.main__info{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 42px;
    padding-top: 242px;
}
.main__second{
    display: flex;
}
.main__price{
    background-image: url('../car__third/car2.png');
    width: 560px;
    height: 330px;
    margin-top: 40px;
    color: #ffffff;
    padding-left: 40px;
    padding-top: 242px;
}
.main__prize{
    background-image: url('../car__third/car3.png');
    width: 560px;
    height: 330px;
    margin-top: 40px;
    margin-left: 58px;
    color: #ffffff;
    padding-left: 40px;
    padding-top: 242px;
}
.footer{
    display: flex;
    width: 1350px;
    height: 362px;
    background: #222222;
    margin-top: 170px;
    padding: 0 5%;
}
.footer--logo{
    width: 131px;
    height: 22px;
    margin-top: 80px;
}
.footer__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 80px;
    padding-left: 24px;
}
.footer__logo{
    padding-left: 24px;
    padding-top: 20px;
}
.footer__title{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    margin-left: 100px;
    margin-top: 80px;
}
.footer__link{
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    opacity: 0.5;
    margin-top: 10px;
    margin-left: 100px;
    margin-top: 20px;
}

.footer__link:first-child{
    margin-top: 0; 
}  